p{
    text-align:center;
    color: white;
}
*{
background-color: black;

color:white;
}
h1{
    text-align: center;
    color: red;
}
a{
    
    
    text-align: center;
}
#1
{
    text-align: left;
}